@media screen and (min-width: 1430px) {
    .feature-box .box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1350px) {
    .navegation {
        padding: 17px 3%;
    }

    .navegation.sticky {
        padding: 13px 3%;
    }

    section {
        padding: 80px 3% 70px;
    }

    .home {
        gap: 1rem;
    }

    .feature-box .box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1130px) {
    .navegation #menu-icon {
        display: inline-flex;
    }

    .navegation .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 100vh;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: center;
        transition: all 0.45s ease;
    }

    .navegation .navbar li {
        margin: 1.1rem 0;
    }

    .navegation .navbar li a {
        display: block;
    }

    .navegation .navbar.open {
        right: 0;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --big-font: 3.3rem;
        --h2-font: 2rem;
    }

    .home {
        grid-template-columns: 1fr;
        text-align: center;
        height: 100%;
    }

    .home-text {
        padding-top: 50px;
    }

    .home-img img {
        width: 480px;
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .navegation .icons i {
        display: none;
    }

    .cta-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        height: 100vh;
    }
    
    .cta-content h3 {
        font-size: 36px;
    }

    .feature-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}

@media screen and (max-width: 460px) {
    :root {
        --big-font: 3rem;
    }

    .navegation .icons i:not(:last-child) {
        margin-right: 10px;
    }

    .home-text h4 {
        font-size: 18px;
    }

    .product-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .product-content .box .price {
        flex-wrap: wrap;
    }

}