@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #fff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* ===== Header ===== */
header .navegation {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 11%;
    z-index: 1000;
    transition: all 0.45s ease;
    border-bottom: 1px solid #f7f9fb;
}

.navegation.sticky {
    background-color: var(--bg-color);
    padding: 13px 11%;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 5px;
}

.navbar li a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 400;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 30px;
    transition: all 0.45s ease;
}

.navbar li a.active {
    background-color: #f7f9fb;
}

.navbar li a:hover {
    background-color: #f7f9fb;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f7f9fb;
    color: var(--other-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    transition: all 0.45s ease;
}

.icons i:hover {
    cursor: pointer;
    transform: scale(0.9);
}

#menu-icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f7f9fb;
    color: var(--other-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

/* ===== All section ===== */
section {
    padding: 100px 11% 90px;
}

/* ===== Home section ===== */
.home {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.svg");
    background-size: cover;
    background-color: #e3ffe6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-text h4 {
    font-size: 22px;
    color: var(--other-color);
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.2;
    color: var(--text-color);
    margin: 25px 0 45px;
}

.btn {
    display: inline-block;
    padding: 16px 30px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.45s ease;
}

.btn:hover {
    letter-spacing: 2px;
    opacity: 0.8;
}

.home-img img {
    width: 100%;
    height: auto;
}

/* ===== Feature section ===== */
.feature-text h2 {
    font-size: var(--h2-font);
    font-size: 700;
}

.feature-text h2 span {
    color: var(--main-color);
    text-transform: capitalize;
}

.feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.feature-box .box {
    background-color: #e3ffe6;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: all 0.45s ease;
}

.box .box-text h4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
    margin-bottom: 1rem;
}

.box .box-text h3 {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
}

.box .box-text a {
    display: inline-block;
    background-color: var(--bg-color);
    padding: 11px 23px;
    border-radius: 30px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    margin-top: 2.5rem;
    transition: all 0.45s ease;
}

.box .box-text a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    letter-spacing: 1px;
}

.box .box-image {
    width: 170px;
    height: auto;
}

.box .box-image img {
    width: 100%;
    height: auto;
}

.feature-box .box2 {
    background-color: #fef2f2;
}

.feature-box .box3 {
    background-color: #eff6ff;
}

.feature-box .box:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

/* ===== Product section ===== */
.product-text h2 {
    font-size: var(--h2-font);
    font-weight: 700;
}

.product-text h2 span {
    color: var(--main-color);
}

.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.product-content .box {
    position: relative;
}

.product-content .box .box-image img {
    width: 200%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    transition: all 0.45s ease;
}

.product-content .box h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: capitalize;
}

.product-content .box h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--other-color);
    margin-top: 5px;
    text-transform: capitalize;
}

.product-content .box .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.2rem;
    flex-wrap: wrap;
}

.price button {
    display: inline-block;
    padding: 4px 16px;
    background-color: transparent;
    border: 2px solid #ef4444;
    color: #ef4444;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.45s ease;
}

.price button:hover {
    cursor: pointer;
    letter-spacing: 1px;
}

.price .stars i {
    color: #ef4444;
    font-size: 18px;
}

.price .stars i:not(:last-child) {
    margin-right: 4px;
}

.box .heart i {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 22px;
    color: #ef4444;
    width: 42px;
    height: 42px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease;
}

.box .heart i:hover {
    cursor: pointer;
    background-color: #ef4444;
    color: var(--bg-color);
}

/* ===== Cta section ===== */
.cta-container {
    width: 100%;
    height: 70vh;
    background-color: #e3ffe6;
    background: url("../images/cta.png") no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 50px 80px 80px;
}

.cta-content {
    max-width: 580px;
    height: auto;
}

.cta-content img {
    max-width: 100%;
    height: auto;
}

.cta-content h3 {
    font-size: 52px;
    font-weight: 700;
    color: var(--text-color);
    margin: 1rem 0;
}

.cta-content h5 {
    font-size: 16px;
    font-weight: 500;
    color: var(--other-color);
}

.cta-content a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--text-color);
    color: var(--bg-color);
    margin-top: 2rem;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.45s ease;
}

.cta-content a:hover {
    letter-spacing: 2px;
}